@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/container';
@import './layout/sidebar';
@import './layout/topbar';
@import './components/VButtons';
@import './components/VCard';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VTextField';
@import './pages/dashboards';
@import './pages/auth';
@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';


.bg-glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.909) !important;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(5px);
}

.v-btn {
    /* Apply the custom letter-spacing to all v-btn components */
    letter-spacing: 0px !important; /* Adjust the value as needed */
}



* {
    scrollbar-color: rgb(80, 79, 79) rgb(255, 255, 255);
}

*::-webkit-scrollbar {
    width: 0.4em;
    height: 0.65em;

}

*::-webkit-scrollbar-track {
    background-color: rgba(247, 247, 247, 0);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(101, 101, 101, 0.376);
    border-radius: 5px;


}


.v-navigation-drawer__content {
    scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) !important;
}

.v-navigation-drawer__content::-webkit-scrollbar {
    width: 0.5em;
    height: 0.65em;

}

.v-navigation-drawer__content::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 5px !important;
}

.v-navigation-drawer__content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.357);
    border-radius: 5px !important;


}

.v-field--variant-solo, .v-field--variant-solo-filled{
    box-shadow: none !important;
  }